@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/futura-std-4?styles=52567,52574,52581,52570,52583,52579,52565,52571,52573,52577');
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Futura Std', sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 20px;
}

@media (min-width: 768px) {
}
