@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @import url('https://fonts.cdnfonts.com/css/futura-std-4?styles=52567,52574,52581,52570,52583,52579,52565,52571,52573,52577'); */
}
/* @import url('https://fonts.cdnfonts.com/css/futura-std-4'); */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  font-family: 'Futura', sans-serif;
}

.container {
  max-width: 1440px;
  min-height: 100dvh;
  margin: 0 auto;
}

.dropdown-menu {
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
}

.active {
  font-weight: bold;
}

@media (min-width: 768px) {
}
